**/__pycache__/*
pretrained_weights/**/
act_scales/*.pt
datasets/*.zst

**/*.so
**/*.o
**/*.d
**/secllm_unittest

.vscode/

hf_token
test/

.DS_Store

**/.config_HW_PRERELEASE_x64
**/Enclave_u.*
**/Enclave_t.*

collected_timestamp.txt